<script type="text/template" id="offline_tmpl">
<div id="ok_group">
    <div id="ok_close_group">
        <div class="ok_turn_off" title="Закрыть окно"></div>
    </div>
    <div id="ok_group_center">
        <h4 class="ok_group_h4">Задать вопрос консультанту</h4>
        <div id="ok_user_name_input">
            <input type="text" id="ok_group_user_name" value="Ваше имя">
        </div>
        <div id="ok_group_select">
            <div class="ok_select_background">
                <span>Выберите отдел</span>
            </div>
            <ul id="ok_select_select">
            </ul>
        </div>
        <div id="ok_group_text">
            <textarea id="ok_group_textarea" placeholder="Введите текст вашего сообщения..."></textarea>
        </div>
        <div id="ok_group_message"></div>
        <div id="ok_group_submit" class="ok_button button-green"><span>Отправить</span></div>
    </div>
</div>
</script>